body {
  width: 100vw;
  overflow-x: hidden;
}

* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

/* st of header ----------------------- */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin: 2vh;
}

.top_Buttons {
  font-size: 2.5vh;
}

.top_Buttons:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list_Img {
  background: url(./assets/list.svg);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;

  height: 5.8vh;
  width: 5.8vh;
  border-radius: 50%;

  cursor: pointer;
}

.list_Img:hover {
  background: url(./assets/List-hover.svg);
  background-repeat: no-repeat;
  background-size: 145% 145%;
  background-position: center;

  cursor: pointer;
}



.top_Buttons,
.list_Img,
.account_Img {
  margin: 0px 15px;
}

.account_Img {
  height: 6vh;
  width: auto;
  margin-right: 3vw;
}

.account_Img:hover {
  border: solid 1px gray;
  border-radius: 50%;
  width: 5.7vh;
  height: 5.7vh;
  cursor: pointer;
}

/* -----------------------End of Header */

/* St of Search section ---------------------- */

.google_Logo_Div {
  display: flex;
  justify-content: center;
}

.google_Logo {
  height: 14.5vh;
}

.search_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 42vh;
}

.search_Box_Div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.magnifier {
  height: 3.5vh;
  transform: translate(3.9vw, 0vw);
}

.mic {
  height: 3.5vh;
  transform: translate(-3.9vw, 0vw);
}

.mic:hover {
  cursor: pointer;
}

.search_Box {
  width: 40vw;
  height: 7vh;
  border-radius: 4.5vh;
  border: solid 1px #dddfe0;
  text-indent: 5vw;
  font-size: 2.5vh;
}

.search_Box:focus {
  outline: none;
}

.search_Box:hover {
  box-shadow: 1px 4px 15px 0px #dddfe0;
}

.search_buttons_div {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.search_Submit {
  font-size: 2vh;
  width: auto;
  padding: 2vh;
  height: 2vh;
  background-color: #f8f9fa;
  border-radius: 1vh;
  text-align: center;
  line-height: 1.6vh;
  margin: 0px 1vw;
}

.search_Submit:hover {
  box-shadow: 0px 2px 5px 0px #dddfe0;
  border: solid 1px #dddfe0;
  cursor: pointer;
}

.Language_para{
  font-size: 2vh;
}

span {
  color: #1a0dab;
  
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* ------------------------------- Ed of search section */


/* St of Footer section -------------------------------- */
.country {
  position: absolute;
  bottom: 7vh;
  width: 100vw;
  height: 7vh ;
  font-size: 2.2vh;
  color:#6F6F6F;
    padding: 0vh 4vw;
  background-color: #F2F2F2;
  line-height: 7vh;
  border-bottom:solid 1px #dbd8d8;
}

footer{
  display: flex;
  position: absolute;
  bottom: 0vh;
  width: 100vw;
  justify-content: center;
  background-color: #F2F2F2;
  height: 7vh ;
}

.left_Footer_buttons_div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0vh 3vw;
}

 .right_Footer_buttons_div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0vh 3vw;
}

.footer_Button{
  font-size: 2.2vh;
  color:#6F6F6F;
  margin: 0vw 1vw;
}

.footer_Button:hover{
  text-decoration: underline;
  cursor: pointer;
}




/* -------------------------- End of Footer Section */