* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

/* st of header ----------------------- */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin: 2vh;
}

.top_Buttons {
  font-size: 2.5vh;
}

.top_Buttons:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list_Img {
  background: url(./assets/list.svg);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;

  height: 5.8vh;
  width: 5.8vh;
  border-radius: 50%;

  cursor: pointer;
}

.list_Img:hover {
  background: url(./assets/List-hover.svg);
  background-repeat: no-repeat;
  background-size: 145% 145%;
  background-position: center;

  cursor: pointer;
}

.account_Img {
  height: 6vh;
  width: auto;
}

.account_Img:hover {
  border: solid 1px gray;
  border-radius: 50%;
  width: 5.6vh;
  height: 5.6vh;
  cursor: pointer;
}

.top_Buttons,
.list_Img,
.account_Img {
  margin: 0px 15px;
}

/* -----------------------End of Header */


/* St of Search section ---------------------- */

.google_Logo_Div{
  display: flex;
  justify-content: center;
}

.google_Logo{
  height: 16vh;
}

.search_section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

.search_Box_Div{
display: flex;
justify-content: center;
align-items: center;
}

.magnifier {
height: 3.5vh;
transform: translate(3.5vw,0vw);
}

.mic {
  height: 3.5vh;
  transform: translate(-3.5vw,0vw);
  }

  .mic:hover {
    cursor: pointer;
    }

.search_Box{
  width: 67vw;
  height: 8vh;
  border-radius: 4vh;
  border: solid 2px #dddfe0;
  text-indent:5vw;
  font-size: 2.5vh;
  
}

.search_Box:focus{
outline: none;
}






span {
  color: #1a0dab;
}



/* ------------------------------- Ed of search section */